// COLORS
$color-primary-1: #bdbbb0;
$color-primary-1-light: #dad7cb;
$color-primary-1-dark: #949289;

$color-primary-2: #d2d7df;
$color-primary-2-light: #e5eaf2;
$color-primary-2-dark: #a1a5ad;

$color-primary-3: #353535;
$color-primary-3-light: #686868;
$color-primary-3-dark: #212121;

$color-primary-4: #266DD3;
$color-primary-4-light: #686868;
$color-primary-4-dark: #212121;

$color-black: rgb(17, 16, 23);

// FONT
$font-size-very-small: 1.4rem;
$font-size-small: 1.5rem;
$font-size-default: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER
$border-radius-small: 2px;
$border-radius-default: 3px;
