// COLORS
$color-one: #353535;
$color-one-very-light: #aaaaaa;
$color-one-light: #6c6c6c;
$color-one-dark: #212121;

$color-two: #266dd3;
$color-two-very-light: #a8cbfd;
$color-two-light: #61a2fe;
$color-two-dark: #1d56a6;

$color-three: #d2d7df;
$color-three-light: #e5eaf2;
$color-three-dark: #a1a5ad;

$color-four: #bdbbb0;
$color-four-light: #dad7cb;
$color-four-dark: #949289;

$color-black: rgb(17, 16, 24);

// FONT
$font-size-very-small: 1.4rem;
$font-size-small: 1.5rem;
$font-size-default: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER
$border-radius-small: 2px;
$border-radius-default: 3px;
$border-radius-big: 5px;
