.footer {
  padding: 20rem 9rem 4rem 9rem;
  background-color: $color-primary-3;
  font-size: 1rem;

  //   &__logo-box {
  //     text-align: center;

  //   }

  //   &__logo {
  //     width: 15rem;
  //     height: auto;
  //   }

  &__navigation {
    margin: 5rem 0;
    text-align: center;
  }

  &__list {
    display: inline-block;
    padding: 0.5rem 1rem 0 1rem;
    border-top: 1px solid $color-primary-3-light;
    list-style: none;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      padding: 0.5rem;
      display: inline-block;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover {
      background-color: $color-primary-3-light;
      transform: translateY(-0.5rem);

      @include box-shadow-custom(0, 1rem, 2rem, 0.7);
    }

    &:active {
      @include box-shadow-custom(0, 0.5rem, 1rem, 0.2);
    }
  }

  &__copyright {
    color: white;
    text-align: center;
  }
}
