.footer {
  padding: 6rem 9rem 4rem 9rem;
  background-color: $color-one;
  font-size: 1.2rem;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    height: 15rem;
    width: auto;
  }

  &__navigation {
    margin: 5rem 0;
    text-align: center;
  }

  &__list {
    display: block;
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid $color-one-light;
    list-style: none;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 0.5rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover {
      background-color: $color-one-light;
      transform: translateY(-0.2rem);

      @include box-shadow-hover;
    }

    &:active {
      @include box-shadow-active;
    }
  }

  &__copyright {
    color: white;
    text-align: center;
  }

  @include media-query(phone) {
    padding: 3rem 1rem 2rem 1rem;
  }
}
