.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-1,
    $color-primary-2,
    $color-primary-3
  );
  // url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3rem;
}

.text-box {
  position: absolute;
  text-align: center;

  @include absolute-center;
}
