.header {
  position: relative;
  height: 95vh;
  padding: 5rem;
  background-image: linear-gradient(
    to left,
    $color-primary-1,
    $color-primary-2,
    $color-primary-3
  );
  background-size: cover;
  background-position: top;

  &__content {
    display: table;
    height: 100%;
    width: 80%;
    margin: auto;
  }

  &__img-group {
    display: table-cell;
    padding-right: 5rem;
    width: 33.333333%;
    vertical-align: middle;
  }

  &__text-group {
    display: table-cell;
    width: 66.666667%;
    vertical-align: middle;
  }

  &__img {
    height: 25rem;
    width: auto;
  }

  &__text {
    text-align: left;
  }

  &__social {
    padding: 2rem 0;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__icon {
    height: 2.5rem;
    opacity: 0.8;
    border-radius: 5px;
    transition: all 0.2s;

    @include box-shadow-custom(0, 0.5rem, 1.5rem, 0.6);

    &:hover {
      transform: scale(1.1);
    }
  }

  @include media-query(phone) {
    &__content {
      position: absolute;
      height: auto;
      width: auto;
      @include absolute-center;
    }

    &__img-group {
      display: block;
      width: auto;
      padding-right: 0;
      text-align: center;
    }

    &__text-group {
      display: block;
      width: auto;
    }

    &__img {
      display: inline-block;
      height: 15rem;
      width: auto;
    }

    &__text {
      text-align: center;
    }

    &__social {
      text-align: center;
    }
  }
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
}

.logo {
  display: block;
  height: 16rem;

  @include media-query(phone) {
    height: 12rem;
  }
}
