.header {
  position: relative;
  height: 95vh;
  padding: 5rem;
  background-image: linear-gradient(
    to left,
    $color-primary-1,
    $color-primary-2,
    $color-primary-3
  );
  background-size: cover;
  background-position: top;

  &__content {
    display: table;
    height: 100%;
    width: 80%;
    margin: auto;
  }

  &__img-group {
    display: table-cell;
    padding-right: 5rem;
    width: 33.333333%;
    vertical-align: middle;
  }

  &__text-group {
    display: table-cell;
    width: 66.666667%;
    vertical-align: middle;
  }

  &__img {
    height: 25rem;
    width: auto;
  }

  &__text {
    text-align: left;
  }
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
}

.logo {
  display: block;
  height: 16rem;
}
