.navigation {
  &__checkbox {
    display: none;
  }

  &__btn {
    position: fixed;
    height: 6rem;
    width: 6rem;
    top: 5rem;
    right: 5rem;
    z-index: 300;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    @include box-shadow-default;
  }

  &__background {
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: 5.5rem;
    right: 5.5rem;
    z-index: 100;
    background-image: radial-gradient(
      $color-four-light,
      $color-two,
      $color-two-dark
    );
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__nav {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    transition: opacity 0.5s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__list {
    position: absolute;
    text-align: center;
    list-style: none;

    @include absolute-center;
  }

  &__list-item {
    margin: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 0.5rem 2rem;
      color: white;
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 230%;
      transition: all 0.3s ease-out;
    }

    &:hover,
    &:active {
      color: $color-one;
      background-position: 100%;
    }
  }

  input[checked] ~ &__background {
    transform: scale(80);
  }

  input[checked] ~ &__nav {
    visibility: visible;
    opacity: 1;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      height: 2px;
      width: 3rem;
      background-color: $color-one;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon::before {
    top: -1rem;
  }

  &__btn:hover &__icon::after {
    top: 1rem;
  }

  input[checked] ~ &__btn &__icon {
    background-color: transparent;
  }

  input[checked] ~ &__btn &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }

  input[checked] ~ &__btn &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }
}
