.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    color: $color-one;
    font-size: $font-size-default;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-one;
    transition: all 0.2s ease-out;
  }

  &:hover {
    color: white;
    background-color: $color-one;
    transform: translateY(-0.3rem);

    @include box-shadow-hover;
  }

  &:active {
    transform: translateY(0);

    @include box-shadow-active;
  }
}
