.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    position: relative;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $border-radius-default;
    transition: all 0.2s ease-out;

    // For the <button> element:
    font-family: 'Inconsolata', monospace;
    border: none;
    cursor: pointer;

    @include media-query(tab-port) {
      font-size: 1.2rem;
    }
  }

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    outline: none;

    @include box-shadow-hover;
  }

  &:active {
    transform: translateY(-0.1rem);

    @include box-shadow-active;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: $border-radius-default;
    transition: all 0.4s ease-out;
  }

  &:hover::after {
    opacity: 0;
    transform: scaleX(1.3) scaleY(1.7);
  }

  &--white {
    background-color: white;
    color: $color-one-dark;

    &::after {
      background-color: white;
    }
  }

  &--blue {
    background-color: $color-two;
    color: white;

    &::after {
      background-color: $color-two;
    }
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
