.card {
  position: relative;
  height: 36rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  perspective: 150rem;

  &__side {
    position: absolute;
    height: 36rem;
    width: 95%;
    top: 0;
    left: 0;
    margin: 0 auto;
    border-radius: $border-radius-default;
    overflow: hidden;
    transition: transform 0.5s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include box-shadow-default;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);
      background-image: radial-gradient(
        white,
        $color-three-light,
        $color-three,
        $color-one-very-light,
        $color-one-light
      );
    }
  }

  &:hover &__side--front {
    transform: scale(1.05) rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: scale(1.05) rotateY(0);
  }

  // FRONT-SIDE STYLING
  &__picture {
    height: 16rem;
    background-size: cover;

    &--1 {
      background-image: url(../img/img-project-1x.jpg);

      @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
        background-image: url(../img/img-project-2x.jpg);
      }
    }

    &--2 {
      background-image: url(../img/img-project-1x.jpg);

      @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
        background-image: url(../img/img-project-2x.jpg);
      }
    }

    &--3 {
      background-image: url(../img/img-project-1x.jpg);

      @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
        background-image: url(../img/img-project-2x.jpg);
      }
    }
  }

  &__heading {
    position: absolute;
    top: 14rem;
    left: 1.5rem;
    color: white;
    font-size: 2.3em;
    text-align: left;
  }

  &__heading-span {
    padding: 0.4rem 0.7rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-one-light, 0.9),
      rgba($color-one-dark, 0.9)
    );
  }

  &__text {
    padding: 4rem;
    color: $color-black;
    font-size: $font-size-default;
    font-weight: 500;
  }

  //BACK-SIDE STYLING
  &__details {
    position: absolute;

    @include absolute-center;

    ul {
      margin: 0 auto;
      padding-bottom: 2rem;
      list-style: none;

      li {
        padding: 1rem;
        color: $color-black;
        font-size: $font-size-default;
        font-weight: 500;
        text-align: center;

        &:not(:last-child) {
          border-bottom: 0.1px solid $color-three;
        }
      }
    }
  }

  &__btn-group {
    margin-bottom: 1rem;
    text-align: center;
  }

  // MEDIA QUERIES
  @media only screen and (max-width: 75em), only screen and (hover: none) {
    height: auto;
    width: 75%;
    margin: 0 auto;
    transition: transform 0.1s ease-out;

    &__side {
      position: relative;
      height: 32rem;

      &--back {
        position: absolute;
        left: 50%;
        background-image: radial-gradient(white, transparent 0%);
        transform: translateX(-50%) rotateY(0);
      }
    }

    &:hover &__side {
      transform: rotateY(0);
    }

    &__heading {
      position: absolute;
      top: 1rem;
    }

    &__text {
      position: absolute;
      top: 3rem;
      padding: 4rem;
    }

    &__details {
      width: max-content;
      padding-top: 15rem;

      ul {
        padding-bottom: 1rem;

        li {
          display: inline-block;

          &:not(:last-child) {
            border-bottom: none;
            border-right: 0.1px solid $color-three;
          }
        }
      }
    }

    @media only screen and (max-width: 37.5em), only screen and (hover: none) {
      height: max-content;
      width: 90%;

      &__picture {
        opacity: 0.5;
      }

      &__text {
        padding: 2.5rem 2rem;
      }

      &__details {
        ul {
          li {
            display: block;
            padding: 0 0.5rem;
            font-size: $font-size-small;

            &:not(:last-child) {
              border-right: none;
            }
          }
        }
      }
    }
  }
}
