.card {
  position: relative;
  height: 36rem;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    height: 36rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    border-radius: $border-radius-default;
    transition: all 0.5s ease;
    overflow: hidden;
    backface-visibility: hidden;

    @include box-shadow-default;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);
      background-image: radial-gradient(
        white,
        $color-primary-2-light,
        $color-primary-2,
        $color-primary-3-very-light,
        $color-primary-3-light
      );
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT-SIDE STYLING
  &__picture {
    background-size: cover;
    height: 16rem;

    &--1 {
      background-image: url(../img/img-project-1x.jpg);
    }

    &--2 {
      background-image: url(../img/img-project-1x.jpg);
    }

    &--3 {
      background-image: url(../img/img-project-1x.jpg);
    }
  }

  &__heading {
    position: absolute;
    top: 14rem;
    left: 1.5rem;
    text-align: left;
    font-size: 2.3em;
    color: white;
  }

  &__heading-span {
    padding: 0.4rem 0.7rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-3-light, 0.9),
      rgba($color-primary-3-dark, 0.9)
    );
  }

  &__text {
    padding: 4rem 4rem;
    font-size: $font-size-default;
    font-weight: 500;
    color: $color-black;
  }

  //BACK-SIDE STYLING
  &__details {
    position: absolute;

    @include absolute-center;

    ul {
      margin: 0 auto;
      padding-bottom: 2rem;
      list-style: none;

      li {
        padding: 1rem 1rem;
        text-align: center;
        font-size: $font-size-default;
        font-weight: 500;
        color: $color-black;

        &:not(:last-child) {
          border-bottom: 0.1px solid $color-primary-2;
        }
      }
    }
  }

  &__btn-group {
    text-align: center;
  }

  // MEDIA QUERIES
  @include media-query(tab-land) {
    height: auto;
    width: 75%;
    margin: 0 auto;

    &__side {
      position: relative;
      height: 32rem;

      &--back {
        position: absolute;
        transform: rotateY(0);
        background-image: radial-gradient(white, transparent 0%);
      }
    }

    &:hover &__side {
      transform: rotateY(0);
    }

    &__heading {
      position: absolute;
      top: 1rem;
    }

    &__text {
      position: absolute;
      top: 3rem;
      padding: 4rem 4rem;
    }

    &__details {
      width: max-content;
      top: 21rem;

      ul {
        padding-top: 5rem;

        li {
          display: inline-block;

          &:not(:last-child) {
            border-bottom: none;
            border-right: 0.1px solid $color-primary-2;
          }
        }
      }
    }

    @include media-query(tab-port) {
      width: 100%;

      &__details {
        width: max-content;
        top: 21rem;

        ul {
          li {
            padding: 0.5rem 0.5rem;
            font-size: $font-size-small;
          }
        }
      }
    }
  }
}
