.composition {
  position: relative;
  min-height: 30rem;

  &__img {
    position: absolute;
    width: 55%;
    transition: all 0.2s;
    border-radius: $border-radius-default;

    @include box-shadow-default;

    @include media-query(tab-port) {
      width: 35%;
    }

    &--1 {
      left: 0;
      top: 1rem;
    }

    &--2 {
      right: 0rem;
      top: 4rem;
    }

    &--3 {
      left: 15%;
      top: 14.5rem;
    }

    &:hover {
      outline: 1rem solid $color-primary-1;
      outline-offset: 1rem;
      transform: scale(1.1) translateY(-0.5rem);
      z-index: 1;

      @include box-shadow-custom(0, 2rem, 5rem, 0.2);
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.9);
  }
}
