.feature-box {
  padding: 2.5rem;
  text-align: center;
  border-radius: $border-radius-default;
  background-color: rgba(white, 0.9);
  transition: all 0.2s;

  @include box-shadow-default;

  &__icon {
    display: inline-block;
    padding: 0.5rem;
    font-size: 6rem;
    line-height: 1.5;
    color: transparent;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-4,
      $color-primary-4-dark,
      $color-black
    );
    -webkit-background-clip: text;
  }

  &__text {
    font-size: $font-size-small;
  }

  &:hover {
    transform: scale(1.05);
  }

  // MEDIA QUERIES
  @include media-query(tab-land) {
    width: 75%;
    margin: auto;
  }
}
