.feature-box {
  padding: 2.5rem;
  text-align: center;
  border-radius: $border-radius-default;
  background-color: rgba(white, 0.9);
  transition: all 0.2s;

  @include box-shadow-default;

  &__icon {
    display: inline-block;
    padding: 0.5rem;
    color: $color-two-dark;
    font-size: 6rem;
    line-height: 1.5;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(
        to right bottom,
        $color-two,
        $color-two-dark,
        $color-black
      );
    }
  }

  &__text {
    font-size: $font-size-small;
  }

  &:hover {
    transform: scale(1.05);
  }

  // MEDIA QUERIES
  @include media-query(tab-land) {
    width: 75%;
    margin: auto;
  }
}
