.feature-box {
  background-color: rgba(white, 0.9);
  padding: 2.5rem;
  text-align: center;
  border-radius: $border-radius-default;
  transition: all 0.2s;

  @include box-shadow-default;

  &__icon {
    padding: 0.5rem;
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-2,
      $color-primary-3
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text {
    font-size: $font-size-small;
  }

  &:hover {
    transform: translateY(-1.5rem);
  }
}
