.popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-color: rgba($color-one, 0.8);
  transition: all 0.2s ease-out;

  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-one, 0.5);
  }

  &__content {
    display: table;
    position: absolute;
    width: 70%;
    padding: 2rem 3rem;
    color: $color-one;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden; // To avoid the img from hiding the corners

    @include absolute-center;
    @include box-shadow-default;
  }

  &__text {
    font-size: $font-size-very-small;
    text-align: justify;
  }

  //OPEN-CLOSE LOGIC
  &:target {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: $color-black;
      font-size: 3rem;
      line-height: 0.5;
      text-decoration: none;
    }
  }
}
