.section-about {
  background-color: white;
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
}

.group {
  text-align: center;
}

.about {
  &__img {
    display: inline-block;
    width: auto;
    height: 20rem;
    transition: all 0.2s;
    border-radius: $border-radius-default;

    @include box-shadow-default;

    &:hover {
      transform: scale(1.1);

      @include box-shadow-custom(0, 2rem, 5rem, 0.2);
    }
  }
}

.section-features {
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-image: linear-gradient(
    to left bottom,
    $color-primary-1,
    $color-primary-2,
    $color-primary-3
  );
}

.section-works {
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-color: white;
}

.section-reviews {
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-1-light,
    $color-primary-1
  );
}

.section-contact {
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-2-light,
    $color-primary-2
  );
}

.contact {
  background-image: linear-gradient(
      90deg,
      rgba(white, 0.9) 0%,
      rgba(white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/img-3.jpg);
  background-size: cover;
  border-radius: $border-radius-default;

  @include box-shadow-default;

  &__form {
    width: 50%;
    padding: 3rem 4rem;
  }

  // MEDIA QUERIES
  @include media-query(tab-port) {
    background-image: linear-gradient(
        90deg,
        rgba(white, 0.9) 0%,
        rgba(white, 0.9) 70%,
        transparent 70%
      ),
      url(../img/img-3.jpg);

    &__form {
      width: 70%;
    }
  }

  @include media-query(phone) {
    background-image: linear-gradient(
        to right bottom,
        rgba(white, 0.9),
        rgba(white, 0.3)
      ),
      url(../img/img-3.jpg);

    &__form {
      width: 100%;
    }
  }
}
