.section-about {
  position: relative;
  height: auto;
  padding: 15rem 7rem 20rem 7rem;
  background-color: white;

  @include media-query(tab-port) {
    padding: 10rem 5rem 15rem 5rem;
  }
}

.about {
  padding: 3rem 4rem;
  background-color: $color-three-light;

  &__text {
    font-size: $font-size-default;
    text-align: justify;
  }

  &__img-group {
    text-align: right;
    overflow: hidden;
  }

  &__img {
    display: inline-block;
    height: 18rem;
    width: auto;
    border-radius: $border-radius-default;
    transition: all 0.2s;

    @include box-shadow-default;

    &:hover {
      transform: scale(1.1);

      @include box-shadow-hover;
    }
  }

  @include media-query(tab-land) {
    &__img-group {
      text-align: center;
    }
  }
}

.section-features {
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-image: linear-gradient(
    to left bottom,
    $color-four,
    $color-three,
    $color-one
  );

  @include media-query(tab-port) {
    padding: 10rem 2rem 15rem 2rem;
  }
}

.section-works {
  position: relative;
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-color: white;

  @include media-query(tab-port) {
    padding: 10rem 2rem 15rem 2rem;
  }
}

.section-technologies {
  height: auto;
  padding: 15rem 5rem 20rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    $color-four-light,
    $color-four,
    $color-two
  );

  @include media-query(tab-port) {
    padding: 10rem 2rem 15rem 2rem;
  }
}

.technologies {
  &__content {
    display: table;
    height: 100%;
    width: 80%;
    margin: auto;

    [class*='content--'] {
      display: table-cell;
      width: 50%;
      vertical-align: top;
    }

    &--left {
      padding-right: 5rem;
    }
  }

  &__list {
    text-align: center;
    list-style: none;
  }

  &__list-item {
    display: block;
    padding: 0.5rem 2rem;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  @include media-query(phone) {
    &__content {
      display: block;
      height: 100%;
      width: 80%;
      margin: auto;

      [class*='content--'] {
        display: block;
        width: 100%;
      }

      &--left {
        padding-right: 0;
      }
    }
  }
}

.section-contact {
  position: relative;
  height: auto;
  padding: 15rem 7rem 20rem 7rem;
  background-image: linear-gradient(
    to right bottom,
    $color-three-light,
    $color-three
  );

  @include media-query(tab-port) {
    padding: 10rem 6rem 15rem 6rem;
  }
}

.contact {
  background-image: linear-gradient(
      90deg,
      rgba(white, 0.7) 0%,
      rgba(white, 0.7) 50%,
      transparent 50%
    ),
    url(../img/img-contact-2x.jpg);
  background-size: cover;
  border-radius: $border-radius-default;

  @include box-shadow-default;

  &__form {
    width: 50%;
    padding: 3rem 4rem;
  }

  // MEDIA QUERIES
  @include media-query(tab-port) {
    background-image: linear-gradient(
        90deg,
        rgba(white, 0.9) 0%,
        rgba(white, 0.9) 70%,
        transparent 70%
      ),
      url(../img/img-contact-1x.jpg);

    &__form {
      width: 70%;
    }
  }

  @include media-query(phone) {
    background-image: linear-gradient(
        to right bottom,
        rgba(white, 0.9),
        rgba(white, 0.3)
      ),
      url(../img/img-contact-1x.jpg);

    &__form {
      width: 100%;
      padding: 2rem 2rem 3rem 2rem;
    }
  }
}
